/* Basic colors */
:root {
  /* Light palette */
    --color-dark: hsl(0, 0%, 2%);
    --color-darkish: hsl(0, 0%, 25%);
    --color-lightish: hsl(0, 0%, 90%);
    --color-light: hsl(0, 0%, 98%);
    --color-mid: hsl(0, 0%, 50%);

  /* Fonts */
  --font-plain: Nunito, Helvetica, Arial, sans-serif;
  --font-special: Raleway, Helvetica, sans-serif;
}

/* Basic Theme */
:root {
  line-height: var(--ratio);
  font-size: calc(0.333vw + 1em);
  font-family: var(--font-plain);
  background-color: var(--color-light);
  color: var(--color-dark);
}


/* Cascade new base theme */

/* 
:root {
  line-height: var(--ratio);
  font-size: calc(0.333vw + 1em);
  font-family: var(--font-plain);
  background-color: var(--color-light);
  color: var(--color-dark);
}
*/
