/* Basic colors */
:root {
  /* Light palette */
    --yellow: #fcf8e8;
    --pearl: #ecdfc8;
    --salmon: #ecb390;
    --terra-cotta: #DD7661;

  /* Fonts */
  --font-plain: Nunito, Helvetica, Arial, sans-serif;
  --font-special: Raleway, Helvetica, sans-serif;

  /* Basic Theme */
  line-height: var(--ratio);
  font-size: calc(0.333vw + 1em);
  font-family: var(--font-plain);
  background-color: var(--color-light);
  color: var(--color-dark);
}


/* Cascade new base theme */

/* 
:root {
  line-height: var(--ratio);
  font-size: calc(0.333vw + 1em);
  font-family: var(--font-plain);
  background-color: var(--color-light);
  color: var(--color-dark);
}
*/
