/* Create an only */
.movie-detail {
  transition: all 0.4s ease-in-out;
  max-width: var(--measure);
  .poster {
    max-width: fit-content;
  }
  .container {
    position: relative;
  }
  .close-icon {
    position: absolute;
    background-color: transparent;
    right:0;
    top:0;
  }
}