.grow {
  transition: all 0.4s ease-in-out;
}
.grow:hover {
  transform: scale(1.1);
}

.search-input {
  border: solid;
  height: var(--s2);
  width: calc(var(--measure));
  transition: all 0.3s ease-out;

}

input {
  font-size: var(--s-1);
  padding: var(--s-3);
}