:root {
  background-color: var(--color-darkish);
  color: var(--color-light);
  border-color: var(--color-dark);
}

.box.variant {
  color: var(--color-dark);
  input {
    border-color: var(--color-darkish);
    background-color: var(--color-lightish);
    color: var(--color-dark);
    border-radius: var(--s0);
  }
}

.grow {
  transition: all 0.4s ease-in-out;
}
.grow:hover {
  transform: scale(1.1);
}

.search-input {
  border: solid;
  height: var(--s2);

  min-width: calc(var(--measure)/2);
  max-width: calc(var(--measure)*3);
  transition: all 0.3s ease-out;

}

input {
  font-size: var(--s-1);
  padding: var(--s-3);
}