/* MovieListItem only css */
.movie-card {
  min-width: calc(var(--measure) / 5);
  max-width: calc(var(--measure) / 3);
  text-align: center;
  p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-height: var(--s2);
    text-align: center;
  }
  img {
    border-radius: var(--s-4);
    min-width: calc(var(--measure) / 5);
    max-width: calc(var(--measure) / 3);
  }
}

.scroll-item {
	scroll-snap-align: start;
}